<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link rel="stylesheet" href="{{ url_for('static', path='/groups_styles.css') }}">
<link rel="stylesheet" href="{{ url_for('static', path='/form_style.css') }}">

<div id="groups">
    <input class="search" placeholder="Search" />
    <button class="sort" data-sort="name">
        Sort by name
    </button>
    <ul class="list">
        <li>
            <p class="groupkey"> Group Name </p>
        </li>
    </ul>
    <ul class="pagination"></ul>
</div>

<div>
    <h1>
        New Group
    </h1>
    <form id="add_users_form" onsubmit="return false;">
        <label> Group Name: </label><br>
        <input type="text" id="new_group"><br>
        <label> User ID: </label><br>
        <input type="text" id="user_id"><br>
        <input type="submit" value="Submit" onclick="create_group()">
    </form>
    <pre id="json"> Response </pre>
</div>
<script src="{{ url_for('static', path='/js/groups/get_groups.js') }}"></script>